

# Server Details
NODE_ENV=dev # dev, prod
SERVICE_NAME=service_name
SERVER_PORT=3007

# JWT
JWT_SECRET=example&token_#123

# Database URL
# Example: postgres://<username>:<password>@<host>:<port>/<database>?sslmode=disable
DATABASE_URL="postgres://postgres:1234567890@localhost:5432/voosto?sslmode=disable"


# Logger Config
# precedence of levels: block:-1, error:0, warn:1, info:2, http:3, verbose:4, debug:5, silly:6
# disable logs with level "block"
CONSOLE_LOG_LEVEL=debug # false, error, warn, info, http, verbose, debug, silly
FILE_LOG_LEVEL=error # false, error, warn, info, http, verbose, debug, silly

# SFTP
SMTP_HOST=smtp.xyz.com
SMTP_PORT=465
SMTP_USER=abc@xyz.com
SMTP_PASSWORD=123234


