node_modules
.env
.env.dev
.env.prod
.env.production
.env.staging
.env.stage
.env.development
.DS_Store
.vscode

/logs
/out
/dist

/tmp
test.js

/files

meta.json

/whatsapp_cache
/.wwebjs_cache
/files
/commands

FCM.json



